.ex-1-square:hover{
    background-color: red;
    transition: 2s;

}

.ex-2-square:active{
    width: 100%;
    transition: 2s;

}

.ex-3-square:hover{
    border-radius: 50%;
    transition: 2s;
}

.ex-4-square:hover{
    opacity: 0;
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(1);
}

.ex-6-img:hover{
    filter: grayscale(2);
}

.ex-7-img:hover{
    transition: 2s;
    filter: sepia(2) blur(2px);
}

.ex-8-img:hover{
    filter: sepia(1) opacity(1);
    border-radius: 20%;
    transition: 2s;
}

.ex-9-img:hover{
    filter: sepia(1) opacity(1);
    border-radius: 20%;
    transform: scale(1.5);
    transition: 2s;
}
